<% provide(:title, 'Contact Me') %>

<h1>Sample App</h1>
<p>
	Contact Me!!!! email be bitchs at <a href="mailto:m4punk@gmail.com?subject=Hi m4punk!">Email Me</a><br></br>

	This is a test link for the testing suit. <a href="home">Home</a>
</p>